.task-creator--blur
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Kolor tła z półprzezroczystością */
    z-index: 9999; /* Ustawienie na odpowiedniej wartości, aby wyświetlał się na wierzchu */
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
}

.task-creator
{
    width: 50%;
    height: 45%;
    background: linear-gradient(90deg, rgba(9,81,203,1) 0%, rgba(0,193,255,1) 100%);
    border-radius: 1em;
    padding: 2em 3em 3em 3em;
    color: var(--text);
}

.task-creator--fields
{
    display: flex;
    flex-direction: column;
}

.field 
{
    max-width: 100%;
    min-width: 100%;
}

label 
{
    margin: 0 0 1em 0;
    padding: 1em 0 0 0;
    font-size: 24px;
    text-align: center;
}

button
{
    align-self: center;
    margin: 1em 0 0 0;
    width: 30%;
    border: none;
    border-radius: 1em;
    padding: 4px;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button 
{
    background-color: #9012c4;
    color: var(--text);
}

.submit-button:hover
{
    color: #9012c4;
    background-color: var(--text);
}

.cancel-button 
{
    background-color: #d71919;
    color: var(--text);
}

.cancel-button:hover
{
    color: #d71919;
    background-color: var(--text);
}