.task-groups-container
{
    height: calc(100vh - 7.5em);
    background-color: var(--background);
    display: flex;
    justify-content: space-around;
    padding: 1em;
    gap: 1em;
}

.task-group
{
    flex: 1;
    max-width: 25vw;
    padding: 1vw;
    background-color: var(--primary);
    border-radius: 1em; 
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 0.5em;
}

label 
{
    color: var(--text);
    align-self: center;
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 0.5em 0;
}