.header
{
    height: 3em;
    width: 100%;
    background-color: var(--secondary);
    color: var(--text);
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header--left-text
{
    margin: 0 0 0 2em;
}

.header--right-text
{
    margin: 0 2em 0 0;
}

.header--login-button 
{
    background-color: #4CAF50;
    color: var(--text);
    border: none;
    width: 5em;
    border-radius: 1em;
    padding: 4px;
    margin: 0 0 0 0.5em;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.header--login-button:hover 
{
    background-color: #347836;
}

.header--register-button 
{
    background-color: #348feb;
    color: var(--text);
    border: none;
    width: 5em;
    border-radius: 1em;
    padding: 4px;
    margin: 0 0 0 1em;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.header--register-button:hover 
{
    background-color: #245d96;
}